PORT=3000
SUPABASE_URL=https://supabase.com/dashboard/project/xevthmygfvycnlbzxjtd
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhldnRobXlnZnZ5Y25sYnp4anRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMDMxMjcsImV4cCI6MjA5OTU3OTEyN30.tlcNQU0M1DzTl7_Zv0nPJy02nsCZAN6bWKryecdWphA
SUPABASE_KEY=
REDIS_HOST=redis
REDIS_PORT=6379
